body {
  font-family: Arial;
  background: #f4f6f9;
}

.products {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
}

button {
  margin: 5px;
  padding: 5px;
}

.charts {
  display: flex;
  justify-content: center;
  gap: 20px;
}

canvas {
  width: 300px !important;
  height: 250px !important;
}

.ai-box {
  text-align: center;
  margin-top: 20px;
}
